  table, th, td {
  border: 1px solid black;
}
.boxed {
  border: 1px solid papayawhip ;
  width: 30%;
  background-color: papayawhip;
} 

.history {
  border: 1px solid oldlace ;
  width: 30%;
  background-color: oldlace;
} 

.qualification {
  border: 1px solid lightgoldenrodyellow ;
  width: 30%;
  background-color: lightgoldenrodyellow;
} 